
<div class="row justify-content-center">
	<%= link_to "Create Book", new_author_path, class: "btn btn-primary" %>
</div>

 	
 <div class="container">
<% @model.each do |book| %>
 <span> <b>Book Title: </b> </span>
<%= link_to book.title.capitalize, book_path( book.id) %><br>
<span> <b>Published Year: </b></span>
<%= book.published_year %><br />
<% end %>
 </div>

