
<div class="container">
	<%= link_to "Create Book", new_author_path %>
</div>


<% @model.each do |book| %>
<%= link_to book.title, author_book_path( book.author.id, book.id) %>
<%= book.published_year %>
<% end %>

